@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  main{
    overflow-y: scroll;
  }

  .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .trigger:hover {
    color: #1890ff;
  }
  
  .logo {
    height: 32px;
    margin: 16px;
    background: rgba(124, 112, 112, 0.3);
  }

  .ant-layout{
    height: 100vh;
  }
  .ant-layout-sider-collapsed{
    flex: 0 0 60px !important;
    max-width: 60px !important;
    min-width: 60px !important;
    width: 60px !important;
  }
  .logo{
    height: 38px !important;
  }
  .sm-logo{
    display: none;
  }
  .ant-layout-sider-collapsed .sm-logo{
    display: block;
  }
  .ant-layout-sider-collapsed .lg-logo{
    display: none;
  }

  .ant-layout-header h5{
    line-height: 20px;
    font-style: 14px;
  }
  .ant-layout-header p{
    line-height: 20px;
    font-style: 13px;
  }

  .ant-layout-header div .badge{
    top: 16px;
    right: -6px;
  }
  .ant-layout-content::-webkit-scrollbar{
    display: none;
  }
 